mixin navig(nav_class, toggle_class)
  nav.nav(class= nav_class)
    a(href="#" class= toggle_class)
    ul.nav__list
      li
        a(href="#").nav__link Популярные маршруты
      li
        a(href="#").nav__link Расписание рейсов
      li
        a(href="#").nav__link Забронированные рейсы
      li
        a(href="#").nav__link Вход для партнеров
      li
        a(href="#").nav__link О компании
      li
        a(href="#").nav__link Контакты