section.s-catalog
  .container
    .catalog
      .catalog__header
        h2.catalog__title Каталог круизов
        .catalog__sort
          span.catalog__sort-text Сортировать круизы по
          a.catalog__sort-value(href="#") цене
      .catalog__list
        include catalog_items/item-1