section.s-catalog
  .catalog
    .catalog__header
      .container
        h2.catalog__title Каталог круизов
        .catalog__sort
          span.catalog__sort-text Сортировать круизы по
          a.catalog__sort-value(href="#") цене
    .catalog__list
      .container
        include catalog_items/item-1
        include catalog_items/item-2
        include catalog_items/item-3
        include catalog_items/item-4
    a.catalog__btn.btn(href="#") Больше круизов 