include ../mixins/svg

mixin footer
  footer.footer
    .footer__social
      .container
        span.footer__social-text Будь на связи:
        .footer__social-links
          a.footer__social-link(href="#")
            +svg('vk','footer__link-icon--vk')
          a.footer__social-link(href="#")
            +svg('ok','footer__link-icon--ok')
          a.footer__social-link(href="#")
            +svg('youtube','footer__link-icon--youtube')
          a.footer__social-link(href="#")
            +svg('insta','footer__link-icon--insta')
    .footer__contacts
      .container
        span.footer__contacts-phone 8 800 500-61-05
        span.footer__contacts-text Круглосуточная поддержка
        span.footer__contacts-copyright &copy; 2016 ООО &laquo;Городские Круизы&raquo;