include ../small_blocks/nav

mixin header
  header.header
    .header__top
      .container
        +navig('header__nav')
        .header__pannel.pannel
    .header__main
      .container
        .header__logo
          img.header__logo-picture(src="static/img/icons/logo.png" width='70' height='70' alt='Логотип')
        .header__title.title
          span.title__prew Морские прогулки
          h1.title__main По черному морю
        a.header__btn.btn(href="#") Выбрать круиз
        .header__track
          img.header__track-image(src="static/img/icons/dashed.png")

    