.catalog__item-1 {
  .catalog__img {
    width: 290px;
    height: 228px;
    background: url("../img/content/anapa-mobile.jpg") 50% 0 no-repeat;
  }
}




     // width: 0;
    // height: 0;
    // border-left: 50px solid red;
    // border-right: 50px solid red;
    // border-top: 80px solid red;
    // border-bottom: 30px solid transparent;