.catalog__item-3 {
  .catalog__item-img {
    width: 290px;
    height: 228px;
    background: url("../img/content/gelenjik-mobile.jpg") 50% 0 no-repeat;
    @include above($screen-tablet) {
      width: 345px;
      height: 272px;
      background: url("../img/content/gelenjik-tablet.jpg") 50% 0 no-repeat;
    }
  }
  .catalog__img-mark {
    position: relative;
    display: flex;
    top: -7px;
    left: 223px;
    width: 89px;
    height: 82px;
    padding-top: 28px;
    background-color: #f20542;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -20px;
      border-left: 44.5px solid #f20542;
      border-right: 44.5px solid #f20542;
      border-bottom: 20px solid transparent;
    } 
  }
  .catalog__mark-text {
    width: 70px;
    margin: 0 auto;
    font-family: Raleway;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  .catalog__item-title::after {
    top: 34px;
    right: 119px;
    border-left: 4px solid #00a2dd;
  }
}