.catalog__item-1 {
  .catalog__img {
    width: 290px;
    height: 228px;
    background: url("../img/content/anapa-mobile.jpg") 50% 0 no-repeat;
  }
  .catalog__img-mark {
    position: relative;
    display: flex;
    top: -7px;
    left: 178px;
    width: 89px;
    height: 82px;
    padding-top: 28px;
    background-color: #33c7fd;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -20px;
      border-left: 44.5px solid #33c7fd;
      border-right: 44.5px solid #33c7fd;
      border-bottom: 20px solid transparent;
    } 
  }
  .catalog__mark-text {
    font-family: Raleway;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
}



  




    