.catalog__item-4 {
  .catalog__item-img {
    width: 290px;
    height: 228px;
    background: url("../img/content/novoros-mobile.jpg") 50% 0 no-repeat;
    @include above($screen-tablet) {
      width: 345px;
      height: 272px;
      background: url("../img/content/novoros-tablet.jpg") 50% 0 no-repeat;
    }
  }
  .catalog__item-title::after {
    top: 34px;
    right: 93px;
    border-left: 4px solid #00a2dd;
  }
}