extends ../layout/main

block variables
  -  var title = "Главная"
block content



      //- svg 
      //-   use(xlink:href = "static/img/svg/sprite.svg#stop-watch")  - добавление svg 
      // попоробовать сделать самому миксин