.catalog__item.catalog__item-1
  .catalog__item-img
    .catalog__img-mark
      span.catalog__mark-text Хит продаж
  .catalog__item-content
    a.catalog__item-title(href='#') 
      span.catalog__title-text Морская круиз<br> в Анапу
    span.catalog__route-title
      b Маршрут: 
      | Сочи-Лазаревское-Геленджик-Анапа
    span.catalog__route-length
      b Продолжительность: 
      | 10 ч. 0 мин.
    span.catalog__price-value 49 000 руб.