.catalog__item.catalog__item-3
  .catalog__item-img
    .catalog__img-mark
      span.catalog__mark-text Скидка 10%
  .catalog__item-content
    a.catalog__item-title(href='#') Морская прогулка в Геленджик
    span.catalog__route-title
      b Маршрут: 
      | Сочи-Туапсе-Геленджик  
    span.catalog__route-length
      b Продолжительность: 
      | 12 ч. 30 мин. 
    .catalog__price
      span.catalog__price-value 7 000 руб.
      span.catalog__price-old 10000 руб.