.catalog__item.catalog__item-4
  .catalog__item-img
  .catalog__item-content
    a.catalog__item-title(href='#') Морской круиз в Новороссийск
    span.catalog__route-title
      b Маршрут: 
      | Сочи-Геленджик-Новороссийск-Геленджик-Сочи
    span.catalog__route-length
      b Продолжительность:
      | 13 ч. 0 мин.
    span.catalog__price-value 14 800 руб.