.catalog__item.catalog__item-5
  .catalog__item-img
  .catalog__item-content
    a.catalog__item-title(href='#') Морская прогулка в Абрау-Дюсо
    span.catalog__route-title
      b Маршрут: 
      | Сочи-Абрау-Дюрсо
    span.catalog__route-length
      b Продолжительность: 
      | 11 ч. 0 мин.
    span.catalog__price-value 14 800 руб.