.catalog__item {
  background-color: #fff;
  margin-bottom: 54px;
  &-img {
    margin-bottom: 24px;
  }
  &-content {
    width: 265px;
    padding-left: 25px;
  }
  &-title {
    display: block;
    position: relative;
    width: 245px;
    margin-bottom: 7px;
    font-family: RobotoSlabRegular;
    font-size: 18px;
    font-weight: normal;
    color: #00a2dd;
    &::after {
      content: '';
      position: absolute;
      top: 12px;
      right: 0;
      border: 4px solid transparent;
      border-left: 4px solid red;
    }
  }
  .catalog__route-title {
    display: block;
    font-family: Raleway;
    font-size: 14px;
    line-height: 24px;
    color: $base-text-color;
  }
  .catalog__route-length {
    display: block;
    margin-bottom: 8px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 24px;
    color: $base-text-color;
  }
  .catalog__price {
    display: flex;
    align-items: center;
  }
  .catalog__price-value {
    display: block;
    font-family: RobotoSlabRegular;
    font-size: 30px;
    line-height: 48px;
  }
  .catalog__price-old {
    margin-top: 8px;
    margin-left: 8px;
    font-family: RobotoSlabRegular;
    font-size: 18px;
    text-decoration: line-through;
    opacity: .55;
  }
}
