.catalog {
  padding-top: 40px;
  padding-bottom: 31px;
  background-color: #f3f3f3;
  &__title {
    width: 183px;
    letter-spacing: 0.85px;
    margin: 0 auto;
    font-family: RobotoSlabRegular;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    color: $base-text-color;
  }
  &__sort {
    display: flex;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: $base-text-color;
  }
  &__sort-text {
    display: block;
    width: 170px;
    letter-spacing: 0.6px;
  }
  &__sort-value {
    position: relative;
    display: block;
    width: 50px;
    color: $base-text-color;
    font-style: italic;
    &::after {
      content: '';
      position: absolute;
      top: 12px;
      right: 0px;
      border: 4px solid $base-text-color;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {

      @include above($screen-tablet) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  &__btn {
    position: relative;
    border: none;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      top: 22px;
      right: 30px;
      border: 4px solid transparent;
      border-top: 4px solid #fff;
    }
  }
}


