.header {
	width: 100%;
	height: 583px;
	background: url('../img/bg/bg-mobile.jpg') 50% 0 no-repeat;
		@include above($screen-tablet) {
		height: 600px;
		background-image: url('../img/bg/bg-tablet.jpg');
	}
	&__top {
		padding-top: 26px;
	}
	&__toggle {
		position: absolute;
		display: block;
		top: 27px;
		width: 22px;
		height: 16px;
		cursor: pointer;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 22px;
			height: 2px;
			background-color: #4b6d8a;
		  box-shadow: 0 6px 0 0 #4b6d8a,
		              0 12px 0 0 #4b6d8a;
		}
	}
	&__logo-picture {
		display: block;
		margin: 0 auto;
	}
	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: RobotoSlabRegular;
		.title__prew {
			font-size: 20px;
			line-height: 48px;
			font-weight: 400;
			color: #0d3351;
		}
		.title__main {
			margin-bottom: 40px;
			font-size: 50px;
			line-height: 48px;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			color: #0d3351;
		}
	}
	// сделать отдельным блоком
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 202px;
		height: 47px;
		font-size: 14px;
		color: #fff;
		text-decoration: none;
		font-family: Raleway;
		font-weight: 400;
		background-color: #33c7fd;
	}
	&__track {
		position: relative;
		width: 130px;
		margin: 0 auto;
		&-image {
			position: absolute;
			top: 8px;
			left: -8px;
		}
	}
}
