.header {
	width: 100%;
	height: 583px;
	background: url('../img/bg/bg-mobile.jpg') 50% 0 no-repeat;

	@include above($screen-mobile) {
		height: 600px;
		background-image: url('../img/bg/bg-tablet.jpg');
	}

	&__top {

		@include above($screen-tablet) {
			padding-top: 38px;
		}

		.container {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;

			@include above($screen-tablet) {
				flex-direction: row;
				justify-content: flex-end;
			}
		}
	}

	&__pannel {
		display: none;
		font-family: Raleway;
		font-size: 14px;
		color: $base-text-color;

		@include above($screen-tablet) {
			display: flex;
			justify-content: space-between;
			width: 512px;
			height: 35px;
		}
	}

	&__pannel-personal {
		width: 150px;
		color: $base-text-color;
	}

	&__personal-icon {
		width: 10px;
		height: 12px;
		margin-right: 8px;
		fill: #33c7fd;
	}

	&__pannel-currency {
		width: 75px;
		color: $base-text-color;
	}

	&__currency-icon {
		width: 10px;
		height: 12px;
		margin-right: 7px;
		fill: #33c7fd;
	}

	&__pannel-lang {
		width: 35px;
		color: $base-text-color;
	}

	&__pannel-support {
		display: flex;
		flex-direction: column;
		width: 143px;
	}

	&__support-phone {
		font-family: RalewayBold;
	}

	&__support-text {
		font-size: 10px;
	}

	&__main {
		margin-top: 20px;
	}

	&__logo-picture {
		display: block;
		margin: 0 auto;
	}

	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: RobotoSlabRegular;

		.title__prew {
			font-size: 20px;
			line-height: 48px;
			font-weight: 400;
			color: #0d3351;
		}

		.title__main {
			margin-bottom: 40px;
			font-size: 50px;
			line-height: 48px;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			color: #0d3351;
		}
	}

	&__track {
		position: relative;
		width: 130px;
		margin: 0 auto;

		&-image {
			position: absolute;
			top: 8px;
			left: -8px;
			z-index: 1;
		}
	}
}
