include ../blocks/header
include ../blocks/footer

block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    title #{title}
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content="telephone=no", name="format-detection")
    link(rel="stylesheet", type="text/css" href="static/css/main.css")
//- для индивидуализации боди
body
  +header
    .content
      block content
  +footer
  block script
  