@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway.woff2') format('woff2'),
	url('../../fonts/Raleway.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RalewayBold';
	src: url('../../fonts/Raleway Bold.woff2') format('woff2'),
	url('../../fonts/Raleway Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlabRegular';
	src: url('../../fonts/Roboto Slab Regular.woff2') format('woff2'),
	url('../../fonts/Roboto Slab Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}