$base-font-size: 16px;

$container-size: 1024px;

$base-text-color: #0d3351;
$bg-color: #f3f3f3;

$content-size: 290px;
$content-size-tablet: 720px;
$content-size-desktop: 1140px;

//screen
$screen-mobile: 321px;
$screen-tablet: 800px;
$screen-desktop: 1322px;