.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 202px;
    height: 47px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 400;
    background-color: #33c7fd;
  }